# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Build artifacts
cache/
artifacts/
dist/
build/
generated/

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
coverage.json
coverage/

# TypeScript
*.tsbuildinfo

# Frontend
frontend/.next/
frontend/.env.local
# Generated subgraph files
subgraph/subgraph.local.yaml
subgraph/generated/
