# Example environment variables for deployments
MERCHANT_ADDRESS=
TOKEN_ADDRESS=
PRICE_FEED=
BILLING_CYCLE=
PRICE_IN_USD=
FIXED_PRICE=
USD_PRICE=
SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=
MAINNET_RPC_URL=
MAINNET_PRIVATE_KEY=
